@use "sass:color";
@use "../../abstracts/" as abs;

.btn {
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: abs.$font-family !important;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.primary {
        background-color: abs.$primary-color;

        &:hover {
            background-color: abs.$orange;

            button {
                background-color: abs.$orange;
            }
        }
    }

    &.secondary {
        background-color: abs.$secondary-color;

        &:hover {
            background-color: abs.$orange;

            button {
                background-color: abs.$orange;
            }
        }
    }

    &.danger {
        background-color: #f54d4d;

        &:hover {
            background-color: #ff4d4d;

            button {
                background-color: #ff4d4d;
            }
        }
    }

    &.orange {
        background-color: abs.$orange;
        border: 1px solid abs.$orange;

        &:hover {
            background-color: color.scale(abs.$orange, $lightness: -20%);
            border: 1px solid color.scale(abs.$orange, $lightness: -20%);
        }
    }

    &.white {
        background-color: white;
        color: abs.$primary-color;

        &:hover {
            background-color: abs.$orange;
            color: #fff;
        }

        &:disabled {
            background-color: #e0e0e0;
            color: #b0b0b0;
        }
    }

    &.outline {
        background-color: transparent;
        border: 1px solid abs.$border-color;

        &:hover {
            background-color: white;
            color: #242424;
        }
    }

    &.large {
        padding: 15px 30px;
    }
}