.goback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 30px 0;

    .left{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .back-icon {
        font-size: 22px;
        cursor: pointer;
    }

    h2 {
        margin: 0;
        font-size: 32px;
    }
}